<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Detecta o caminho base automaticamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redireciona todas as requisições para index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
